doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title='Zip30'
    script(src='/3rdparty/riot+compiler-3.3.1.min.js', type='text/javascript')
    script(src='/3rdparty/dropzone-4.3.0.min.js', type='text/javascript')
    script(src='/3rdparty/github-fetch-polyfill-2.0.2.js', type='text/javascript')
    link(rel='stylesheet', href='/3rdparty/dropzone-4.3.0.min.css')
    link(rel='stylesheet', href='/3rdparty/webfont/source-sans-pro/font.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    block content
    script(src='/js/notification-bar.tag.html', type='riot/tag')
    script(src='/js/status-indicator.tag.html', type='riot/tag')
    script(src='/js/file-status.tag.html', type='riot/tag')
    script(src='/js/app.tag.html', type='riot/tag')
    script riot.mount('*', { appVersion: '#{appVersion}' })