/*
* Licensed under MIT License
* Copyright (c) 2017 Bernhard Grünewaldt
*/

body {
    font-family: 'Source Sans Pro';
}

a {
    color:#00C29E;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

a:hover {
    color:#00C29E;
    text-decoration: underline;
}