<app>
    <!--
    * Licensed under MIT License
    * Copyright (c) 2017 Bernhard Grünewaldt
    -->

    <!-- HTML -->
    <div class="app--logo-wrapper">
        <img class="app--logo" src="/img/logo.png" height="372" width="433" />
    </div>

    <notification-bar notifications={ notifications }></notification-bar>

    <div class="dropzone" id="dropzonepng"></div>

    <div class="app--files">
        <file-status files={ items }></file-status>
    </div>

    <div class="app--footer">
        <p>Sponsored by : <a href="https://www.zymmm.com" target="_blank">直邮买买买</a></p>
    </div>

    <!-- JAVASCRIPT -->
    <script>
        var self = this;
        self.items = [];
        self.notifications = [];

        //
        // FETCH HELPER METHODS
        //
        const fetchCheckStatus = (response) => {
            if (response.status >= 200 && response.status < 300) {
                return response
            } else {
                var error = new Error(response.statusText)
                error.response = response;
                throw error;
            }
        };
        const fetchParseJson = (response) => response.json();
        const fetchAddErrorToNotificationBar = (error) => {
            error.response.json().then((jsonError) => {
                console.log(jsonError);
                self.notifications.push(jsonError);
                self.update();
            });
        };

        //
        // COMPONENT METHODS
        //
        addFile(file) {
            self.items.push(file);
            file.status = 'compressing';
            self.update();
            fetch('/compress/lossless/' + file.uploadName + '/' + encodeURIComponent(file.originalName))
                .then(fetchCheckStatus)
                .then(fetchParseJson)
                .then((json) => {
                    file.status = 'done';
                    file.compressedSize = json.compressedSize;
                    file.downloadUrl = json.downloadUrl;
                    file.execResults =  json.execResults;
                    self.update();
                })
                .catch(fetchAddErrorToNotificationBar);
        }

        self.on('mount', function() {
            var myDropzone = new Dropzone("#dropzonepng", {
                url: "/upload",
                acceptedFiles: 'image/png,image/jpg,image/jpeg',
                dictDefaultMessage: 'Drop PNG or JPG files here for compression'
            });

            myDropzone.on("success", function(dropzoneFile, uploadResponse) {
                const file = {
                    thumbnailUri: null,
                    originalName: null,
                    originalType: null,
                    originalSize: null,
                    compressedSize: null,
                    downloadUrl: null,
                    execResults: [],
                    uploadName: null,
                    status: 'uploading'
                };
                file.thumbnailUri = dropzoneFile.previewElement.children[0].childNodes[0].src;
                file.originalName = dropzoneFile.name;
                file.originalType = dropzoneFile.type;
                file.originalSize = dropzoneFile.size;
                file.uploadName = uploadResponse.filename;
                file.status = 'uploaded';
                self.addFile(file);
                myDropzone.removeFile(dropzoneFile);
            });

        })
    </script>

    <!-- CSS -->
    <style scoped>
        .dropzone {
            border: 2px dashed #00C29E;
            border-radius: 5px;
            background: white;
            margin:40px;
        }
        .app--logo-wrapper {
            width:100%;
            margin-top:60px;
            margin-bottom:60px;
            text-align: center;
        }
        .app--logo {
            display: block;
            margin:auto;
        }
        .app--files {
            margin:40px;
        }
        .app--footer {
            width:100%;
            margin-top:300px;
            text-align:center;
            color: #ccc;
        }
    </style>

</app>